
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    
</head>
<body>
    @Html.Partial("_AdminNavbar")
    <div id="layoutSidenav">
        @Html.Partial("_AdminDivider")
        <div id="layoutSidenav_content">
            @RenderBody()

            @Html.Partial("_AdminFooter")
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/Scripts/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/Content/assets/demo/chart-area-demo.js"></script>
    <script src="~/Areas/Admin/Content/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/Scripts/js/datatables-simple-demo.js"></script>
</body>
</html>
